h1 {
    color: rgb(85, 83, 83)
}

table {
    width: 800px;
}
thead tr {
    background-color: gray;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: aliceblue;
}

tbody tr td:last-child, tbody tr td:nth-child(4) {
    text-align: right;
}

tfoot tr {
    font-size: larger;
    background-color: gray;
    color: white;
}

tfoot tr td:last-child {
    text-align: right;
}

#info {
    width: 787px;
    margin-left: 2px;
    font-size: 2rem;
    background-color: gray;
    color: yellow;
    height: 2.3rem;
    margin-top: 5px;
    padding-left: 10px;
}